body {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 125%;
}

#input {
    width: 1000px;
    height: 40px;
    border-radius: 4px;
    margin: 250px;
    margin-top: 220px;
    border: 1px solid #ddd;
    background-color: whitesmoke;
    font-size: x-large;
}
.icons{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.icons2{
    width: 110px;
    height: 115px;
    margin-left: 10px;
}

.row{
    margin-top: -170px;
    margin-left: 290px;
}
